In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
office_lines_file = "Resource/The-Office-Lines.csv"
office_lines_df = pd.read_csv(office_lines_file)
office_lines_df.head()

,season,episode,title,speaker,line
0,1,1,Pilot,Michael,All right Jim. Your quarterlies look very good...
1,1,1,Pilot,Jim,"Oh, I told you. I couldn't close it. So..."
2,1,1,Pilot,Michael,So you've come to the master for guidance? Is ...
3,1,1,Pilot,Jim,"Actually, you called me in here, but yeah."
4,1,1,Pilot,Michael,"All right. Well, let me show you how it's done."

In [3]:
Office_IMDB_file = "Resource/datasets_464222_984895_TheOfficeIMDBPerEpisode.csv"
Office_IMDB_df = pd.read_csv(Office_IMDB_file)
Office_IMDB_df.head()

,Season,Title,AirDate,Rating,Num_Votes,Description,DirectedBy,WrittenBy
0,1,Pilot,2005-03-24,7.5,4349,The premiere episode introduces the boss and s...,Ken Kwapis,Ricky Gervais |Stephen Merchant and Greg Daniels
1,1,Diversity Day,2005-03-29,8.3,4213,Michael's off color remark puts a sensitivity ...,Ken Kwapis,B. J. Novak
2,1,Health Care,2005-04-05,7.8,3536,Michael leaves Dwight in charge of picking the...,Ken Whittingham,Paul Lieberstein
3,1,The Alliance,2005-04-12,8.1,3428,"Just for a laugh, Jim agrees to an alliance wi...",Bryan Gordon,Michael Schur
4,1,Basketball,2005-04-19,8.4,3745,Michael and his staff challenge the warehouse ...,Greg Daniels,Greg Daniels

In [4]:
# Create a filtered dataframe from specific columns

office_cols = ["season", "title", "episode", "speaker"]
# Create a filtered dataframe from specific columns
office_transformed = office_lines_df[office_cols].copy()

# Clean the data by dropping duplicates and setting the index
office_transformed.head()

   season  title  episode  speaker
0       1  Pilot        1  Michael
1       1  Pilot        1      Jim
2       1  Pilot        1  Michael
3       1  Pilot        1      Jim
4       1  Pilot        1  Michael

In [6]:
# Create a filtered dataframe from specific columns

office_rating_cols = ["Season", "Title", "Rating", "Num_Votes"]

# Create a filtered dataframe from specific columns
office_rating_transformed = Office_IMDB_df[office_rating_cols].copy()

office_rating_transformed = office_rating_transformed.rename(columns={"Season": "season",
                                                         "Title": "title",
                                                         "Rating": "rating",
                                                         "Num_Votes": "num_votes"})
# Clean the data by dropping duplicates and setting the index
office_rating_transformed.head()

   season          title  rating  num_votes
0       1          Pilot     7.5       4349
1       1  Diversity Day     8.3       4213
2       1    Health Care     7.8       3536
3       1   The Alliance     8.1       3428
4       1     Basketball     8.4       3745

In [14]:
office_merge=pd.merge(office_transformed, office_rating_transformed, on='title',how='outer')
office_merge.head()

   season_x  title  episode  speaker  season_y  rating  num_votes
0       1.0  Pilot      1.0  Michael       1.0     7.5     4349.0
1       1.0  Pilot      1.0      Jim       1.0     7.5     4349.0
2       1.0  Pilot      1.0  Michael       1.0     7.5     4349.0
3       1.0  Pilot      1.0      Jim       1.0     7.5     4349.0
4       1.0  Pilot      1.0  Michael       1.0     7.5     4349.0

In [12]:
office_merge["speaker"] = office_merge["speaker"].replace('Walt Jr.', 'Walter Jr', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Stanley:', 'Stanley', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Stanely', 'Stanley', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Senator*', 'Senator Lipton', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Ryan:', 'Ryan', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Ryan$', 'Ryan', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Ryan Howard', 'Ryan', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Receptionitis*', 'Receptionist', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Phylis$', 'Phylis', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Phyllis', 'Phylis', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Phyllis', 'Phylis', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Phil*', 'Phil', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Pam/Jim', 'Pam and Jim', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Pam:', 'Pam', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Pam &on phone&', 'Pam', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Pam as *', 'Pam', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Pam', 'Pam', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Oscar$s voice*', 'Oscar', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Oscar:', 'Oscar', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Mose*', 'Mose', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Michael:', 'Michael', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Michael&&on*&', 'Michael', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Miichael:', 'Michael', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Mihael:', 'Michael', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Michel:', 'Michael', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Micheal:', 'Michael', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Michal', 'Michael', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Michael&s Ad', 'Michael', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Michael:', 'Michael', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Michael', 'Michael', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Michae', 'Michael', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Micahel', 'Michael', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Michae', 'Michael', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Micahel', 'Michael', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Micael', 'Michael', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Merv Bronte', 'Merv', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Meridith', 'Meredith', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Meredith:', 'Meredith', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('MeeMaw', 'Mee-Maw', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Matt:', 'Matt', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('M ichael', 'Michael', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Krasinski', 'Jim', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Kevin:', 'Kevin', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Kelly:', 'Kelly', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Julius Irving:', 'Julius', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Julie:', 'Julia', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Jo Bennett:', 'Jo', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('JIM9334*', 'JIM9334', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Jim', 'Jim', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Jim:', 'Jim', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Jim & Dwight', 'Jim and Dwight', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Michael/Dwight', 'Michael and Dwight', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Jim & Pam', 'Jim and Pam', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Jessica Alba', 'Jessica', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Jan [on phone])', 'Jan')
office_merge["speaker"] = office_merge["speaker"].replace('Isabel:', 'Isabel', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Hunter&s Cd', 'Hunter', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Jim:', 'Jim', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Michael & Holly', 'Michael and Holly', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Pam & Jim', 'Jim and Pam', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Pam and Jim', 'Jim and Pam', regex=True)
office_merge["speaker"] = office_merge["speaker"].replace('Jim/Pam', 'Jim and Pam', regex=True)
office_merge["title"] = office_merge["title"].replace('Walt Jr.', 'Walter Jr', regex=True)

In [ ]:
connection_string = "postgres:3661045@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{connection_string}')