In [1]:
# Load dependencies
import pandas as pd
from sqlalchemy import create_engine

## Extract the cleaned data into DataFrames

In [2]:
# Read in the cleaned speaker file, convert to a pandas dataframe, and display
speaker_file = "Resource/office_lines_cleaned.csv"
speaker_df = pd.read_csv(speaker_file)
speaker_df.head()

,Unnamed: 0,Unnamed: 0.1,Season,episode,Title,speaker,line
0,0,0,1,1,Pilot,Michael,All right Jim. Your quarterlies look very good...
1,1,1,1,1,Pilot,Jim,"Oh, I told you. I couldn't close it. So..."
2,2,2,1,1,Pilot,Michael,So you've come to the master for guidance? Is ...
3,3,3,1,1,Pilot,Jim,"Actually, you called me in here, but yeah."
4,4,4,1,1,Pilot,Michael,"All right. Well, let me show you how it's done."

In [3]:
# Read in the cleaned imdb ratings file, convert to a pandas dataframe, and display
imdb_file = "Resource/cleaned_imdb_dataset.csv"
imdb_df = pd.read_csv(imdb_file)
imdb_df.head()

,Unnamed: 0,Season,Title,AirDate,Rating,Num_Votes,Description,DirectedBy,WrittenBy
0,0,1,Pilot,2005-03-24,7.5,4349,The premiere episode introduces the boss and s...,Ken Kwapis,Ricky Gervais |Stephen Merchant and Greg Daniels
1,1,1,Diversity Day,2005-03-29,8.3,4213,Michael's off color remark puts a sensitivity ...,Ken Kwapis,B. J. Novak
2,2,1,Health Care,2005-04-05,7.8,3536,Michael leaves Dwight in charge of picking the...,Ken Whittingham,Paul Lieberstein
3,3,1,The Alliance,2005-04-12,8.1,3428,"Just for a laugh, Jim agrees to an alliance wi...",Bryan Gordon,Michael Schur
4,4,1,Basketball,2005-04-19,8.4,3745,Michael and his staff challenge the warehouse ...,Greg Daniels,Greg Daniels

## Transform the DataFrames

In [4]:
# Create a list of columns we want to use, create a copy of the original dataframe with the chosen columns
speaker_columns = ["Season", "episode", "Title", "speaker"]
speaker_transformed = speaker_df[speaker_columns].copy()

# Rename the column headers
speaker_transformed = speaker_transformed.rename(columns={"Season": "season",
                                                          "Title": "title"})

# Create a row of ID's because we have no unique values
speaker_transformed["id"] = speaker_transformed.index+1

# Set ID as index
speaker_transformed.set_index("id", inplace=True)

# Display the transformed dataframe
speaker_transformed

       season  episode   title   speaker
id
1           1        1   Pilot   Michael
2           1        1   Pilot       Jim
3           1        1   Pilot   Michael
4           1        1   Pilot       Jim
5           1        1   Pilot   Michael
...       ...      ...     ...       ...
54623       9       24  Finale     Creed
54624       9       24  Finale  Meredith
54625       9       24  Finale   Phyllis
54626       9       24  Finale       Jim
54627       9       24  Finale       Pam

[54627 rows x 4 columns]

In [5]:
# Create a list of columns we want to use, create a copy of the original dataframe with the chosen columns
imdb_columns = ["Season", "Title", "Rating", "Num_Votes"]
imdb_transformed = imdb_df[imdb_columns].copy()

# Rename the column headers
imdb_transformed = imdb_transformed.rename(columns={"Season": "season",
                                                          "Title": "title",
                                                          "Rating": "rating",
                                                          "Num_Votes": "num_votes"})

# Create a row of ID's because we have no unique values
imdb_transformed["id"] = imdb_transformed.index+1

# Set ID as index
imdb_transformed.set_index("id", inplace=True)

# Display the transformed dataframe
imdb_transformed

     season             title  rating  num_votes
id
1         1             Pilot     7.5       4349
2         1     Diversity Day     8.3       4213
3         1       Health Care     7.8       3536
4         1      The Alliance     8.1       3428
5         1        Basketball     8.4       3745
..      ...               ...     ...        ...
184       9     Stairmageddon     8.0       1743
185       9    Paper Airplane     8.0       1748
186       9  Livin' the Dream     9.0       2439
187       9          A.A.R.M.     9.5       3401
188       9            Finale     9.8       9269

[188 rows x 4 columns]

## Create database connection

In [6]:
connection_string = "postgres:<YOURPASS>@localhost:5432/office_db"
engine = create_engine(f'postgresql://{connection_string}')

In [7]:
# Make sure the tables exist
engine.table_names()

['speaker', 'imdb']

## Load DataFrames into the Database

In [8]:
# Speaker table
speaker_transformed.to_sql(name='speaker', con=engine, if_exists='append', index=True)

In [9]:
# IMDB table
imdb_transformed.to_sql(name='imdb', con=engine, if_exists='append', index=True)